[submodule "aim/shex"]
	path = aim/shex
	url = ssh://ubuntu@u20:/home/ubuntu/people/didalik/aim/shex
[submodule "dak/util/public"]
	path = dak/util/public
  url = git@github.com:didalik/svc.git
  branch = main
[submodule "dev-qa-leaf-conf"]
	path = dev-qa-leaf-conf
	url = git@github.com:didalik/dev-qa-leaf-conf.git
[submodule "sandbox/bootstrap-kid"]
	path = sandbox/bootstrap-kid
	url = ssh://ubuntu@u20:/home/ubuntu/people/didalik/sandbox/bootstrap-kid
[submodule "sandbox/docker/shared-svc"]
	path = sandbox/docker/shared-svc
	url = ssh://ubuntu@u20:/home/ubuntu/people/didalik/sandbox/docker/shared-svc
[submodule "sandbox/ssh-kid-image/configure-ssh"]
	path = sandbox/ssh-kid-image/configure-ssh
	url = ssh://ubuntu@u20:/home/ubuntu/people/didalik/sandbox/ssh-kid-image/configure-ssh
[submodule "sandbox/ubuntu-users"]
	path = sandbox/ubuntu-users
	url = ssh://ubuntu@u20:/home/ubuntu/people/didalik/sandbox/ubuntu-users
[submodule "sandbox/vault/genesis"]
	path = sandbox/vault/genesis
	url = ssh://didalik_aim@gc:/home/didalik_aim/people/didalik/sandbox/vault/genesis
[submodule "sandbox/wrangler/genesis"]
	path = sandbox/wrangler/genesis
	url = ssh://ubuntu@u20:/home/ubuntu/people/didalik/sandbox/wrangler/genesis
[submodule "sandbox/wrangler/registry"]
	path = sandbox/wrangler/registry
	url = ssh://didalik_aim@gc:/home/didalik_aim/people/didalik/sandbox/wrangler/registry
[submodule "sandbox/wrangler/shex"]
	path = sandbox/wrangler/shex
	url = ssh://ubuntu@ubuntu:/home/ubuntu/people/didalik/aim/shex
[submodule "dak/util/meta"]
	path = dak/util/meta
	url = ssh://didalik_aim@gc:/home/didalik_aim/people/didalik/dak/util/meta
[submodule "dak/svc/registry"]
	path = dak/svc/registry
	url = ssh://ubuntu@u20:/home/ubuntu/people/didalik/dak/svc/registry
	branch = main
[submodule "dak/svc/shared"]
	path = dak/svc/shared
	url = ssh://ubuntu@u20:/home/ubuntu/people/didalik/dak/svc/shared
	branch = main
[submodule "dak/svc/spa"]
	path = dak/svc/spa
	url = ssh://ubuntu@u20:/home/ubuntu/people/didalik/dak/svc/spa
[submodule "dak/svc/hex"]
	path = dak/svc/hex
	url = ssh://ubuntu@u20:/home/ubuntu/people/didalik/dak/svc/hex
  branch = main
[submodule "dak/util/org"]
	path = dak/util/org
	url = ssh://ubuntu@u20:/home/ubuntu/people/didalik/dak/util/org
  branch = main
[submodule "dak/util/svc"]
	path = dak/util/svc
	url = ssh://ubuntu@u20:/home/ubuntu/people/didalik/dak/util/svc
  branch = main
[submodule "dak/svc/index"]
	path = dak/svc/index
	url = ssh://ubuntu@u20:/home/ubuntu/people/didalik/dak/svc/registry
  branch = main
[submodule "dak/hex/user"]
	path = dak/hex/user
	url = ssh://ubuntu@u20:/home/ubuntu/people/didalik/dak/hex/user
	branch = main
